.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: darkslategrey;
  padding: 20px;
  min-height: 500px;
}

.nasa-logo {
  margin: 0;
  width: 250px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0);
}
